*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    font-family: 'roboto', sans-serif;
}

.logo{
height: 80px;
display: block;
margin: 0 auto 50px;
}

input[type="text"],
input[type="password"]{
    display: block;
    width: 450px;
    height: 40px;
    padding: 20px;
    border-radius: 5px;
    background: #313131;
    border: none;
    outline: none;
    margin: 20px 0;
    color: #fff;
    font-size: 14px;
    box-shadow: 0 4px 10px rgb(0,0,0,0.01);
    font-family:'roboto', sans-serif;
}

.submit-btn{
    width: 450px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #f7ff02;
    color:#000;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 30px 0;
    font-weight: 600;
}